.regG{
    margin-top: 60px;
    font-family: 'Chonburi', cursive;
    text-align: center;
}

.ccTwo{
    color: black;
}

.cProfilee{
    border: goldenrod solid 2px;
    padding: 10px;
   background-color: white;
   border-radius: 20px;
}