/* .regG{
    margin-top: 60px;
    font-family: 'Chonburi', cursive;
    text-align: center;
}

.ccTwo{
    color: black;
}

.cProfilee{
    border: goldenrod solid 2px;
    padding: 10px;
   background-color: white;
   border-radius: 20px;
} */

body {
    background: #222;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://unsplash.it/1200/800/?random');
    background-repeat: repeat; 
    background-size: cover;
    background-position: center center;
    background-fill-mode: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .container {
    background: white;
    padding: 20px 25px;
    border: 5px solid #26a69a;
    width: 550px;
    height: auto;
    box-sizing: border-box;
    position: relative;
  }
  .col.s6 > .btn {
     width: 100%;
  }
  .gender-male,.gender-female {
    display: inline-block;
  }
  .gender-female {
    margin-left: 35px;
  }
  radio:required {
    border-color: red;
  }
  .container {
    animation: showUp 0.5s cubic-bezier(0.18, 1.3, 1, 1) forwards;
  }
  
  @keyframes showUp {
    0% {
      transform: scale(0);
    }
    100% {
      transoform: scale(1);
    }
  }
  .row {margin-bottom: 10px;}
  
  .ngl {
    position: absolute;
    top: -20px;
    right: -20px;
  }

h1 {
    text-align: center;
    font-size: 2.5rem;
    color: teal;

}